<mat-sidenav-container class="layout-container">
  <!-- Sidebar -->
  <mat-sidenav mode="side" opened="true" class="app-sidebar">
    <div class="sidebar-header">
      <mat-icon alt="Logo" class="logo">support_agent</mat-icon>
      <span class="logo-text">HomeD</span>
    </div>
    <mat-nav-list>
      <mat-list-item (click)="toggleSubMenu('ordenes')" [class.expanded]="isExpanded('ordenes')">
        <mat-icon>local_shipping</mat-icon>
        <span>Órdenes</span>
        <mat-icon class="expand-icon" [class.expanded]="isExpanded('ordenes')">
          expand_more
        </mat-icon>
      </mat-list-item>
      <div *ngIf="isExpanded('ordenes')" class="sub-menu">
        <mat-list-item routerLink="/ordenes/precargas">
          <mat-icon>cloud_upload</mat-icon>
          <span>Precargas</span>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/details">
          <mat-icon>assessment</mat-icon>
          <span>ver</span>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main Content Area -->
  <mat-sidenav-content>
    <div class="main-header">
      <div class="header-content">
        <div class="search-bar">
          <mat-icon>search</mat-icon>
          <input type="text" placeholder="Search...">
        </div>
        <div class="user-profile">
          <mat-icon>notifications</mat-icon>
          <mat-icon>settings</mat-icon>
          <img src="profile.png" alt="User Profile" class="profile-pic">
        </div>
      </div>
    </div>
    <div class="content-area">
      <router-outlet></router-outlet> <!-- Aquí va el contenido de la página -->
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>