<div class="orders-create-container">
  <h2>Crear Orden</h2>
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Cliente</mat-label>
      <input matInput formControlName="customer" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Fecha</mat-label>
      <input matInput type="date" formControlName="date" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="status" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!orderForm.valid">Guardar</button>
  </form>
</div> 